@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO A LA LIGA PRO 2024</h1>
    <p>Aqui podras manejar toda la informacion sobre la Liga Pro 2024 como: Jugadores, Estadios y Equipos</p>
</div>
