@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO A LA LIGA PRO 2024</h1>
    <p>Aqui encontraras informacion o tambien podras agregar y eliminar la informacion que pongas sobre la Liga Pro 2024</p>
</div>
